# JWT secret for signing tokens

JWT_SECRET=""

# Database configuration
POSTGRES_USER="admin"
POSTGRES_DB="admin"
POSTGRES_PASSWORD=""

# Google OAuth credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URL=""
GOOGLE_REDIRECT_URL=""

# GitHub OAuth credentials(not implemented)
# GITHUB_CLIENT_ID=""
# GITHUB_CLIENT_SECRET="your-github-client-secret"
# GITHUB_REDIRECT_URL=""

# Database connection
DATABASE_URL=""

# Optional envs used by db-backup
PGUSER="admin"
PGPASSWORD="password"
PGDATABASE="admin"
PGHOST="db"

# SeaweedFS configuration
SEAWEEDFS_FILER_URL=""
SEAWEEDFS_BASE_PATH="/bookapp"

# Resend email service
RESEND_API_KEY=""
RESEND_EMAIL=""

# Cookie security (leave empty to auto-detect HTTPS)
COOKIE_SECURE=""