#node packages
node_modules/

#code
.vscode

# envs
.env
.env.local
.env.*.local

# build and temp dev
/build/
/dist/
/.svelte-kit
/.pnpm-store
/.pnpm-store/
.pnpm-store/

# sql dev backups
/backups/
/backups/*

# OS-generated 
.DS_Store